body {
    font-family: Impact;
    text-align: center;
    background-image: url(/Фон.png);
}

#Карты-Дилера img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Карты-ТЫ img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Взять {
    width: 120px;
    height: 70px;
    font-size: 20px;
}

#Хватит {
    width: 120px;
    height: 70px;
    font-size: 20px;
}
#i {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
h2 {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 40px; }

#message {   
  color: white;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    font-size: 80px; }
#Рестарт {
    width: 150px;
    height: 50px;
    font-size: 20px;






