body {
    font-family: Impact;
    text-align: center;
    background-image: url(/Фон.png);
}

#Карты-Дилера img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Карты-ТЫ img {
    height: 300px;
    width: 200px;
    margin: 1px;
}

#Взять {
    width: 120px;
    height: 70px;
    font-size: 20px;
}

#Хватит {
    width: 120px;
    height: 70px;
    font-size: 20px;
}
#i {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
h2 { font-size: 80px; }





